[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "vim/bundle/vimux"]
	path = vim/bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule "modules/vim-togglemouse"]
	path = modules/vim-togglemouse
	url = https://github.com/nvie/vim-togglemouse.git
[submodule "modules/snipmate.vim"]
	path = modules/snipmate.vim
	url = https://github.com/msanders/snipmate.vim
[submodule "modules/lusty"]
	path = modules/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "vim/bundle/vim-session"]
	path = vim/bundle/vim-session
	url = https://github.com/xolox/vim-session
[submodule "vim/bundle/vim-colorschemes"]
	path = vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
