#!/bin/bash

if ! type cargo >/dev/null 2>&1; then
  rustup-init -y --no-modify-path
fi

# cargo current version
cargo install --locked cargo

# eza - ls replacement
cargo install eza

# NeoVim version manager
cargo install bob-nvim

# Difftastic - diff with tree-sitter language descriptions
cargo install --locked difftastic

# fd - find in rust
cargo install fd-find

# dust - du replacement
cargo install --locked du-dust

# ripgrep - faster grep
cargo install ripgrep

# alacritty - terminal emulator
cargo install --locked du-dust

# bottom - top like system monitor utility
cargo install --locked bottom

# git delta
cargo install --locked git-delta

# podlet - generate systemd quadlets
cargo install --locked podlet

# cross - cross compiler
cargo install cross

# command line youtube music player
# NOTE: needs cookies: open youtube.com with a browser, open development
# tools -> network -> F5 -> click on a resource and copy the information
# by "Cookies":
# echo -en "Cookie: $(xsel)\nUser-Agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36" > ~/.config/ytermusic/headers.txt
cargo install --git https://github.com/ccgauche/ytermusic

